<div class="row pt-4">
    <div class="col-md-6 mx-auto">
      <div class="card rounded-0">
        <div class="card-header rounded-0 text-light bg-dark ">
            <h3 class="lead mt-3">Log In</h3> 
        </div>
        <div class="content-section mb-3">
            <form [formGroup]="loginForm" (ngSubmit) = "login()">
                <div class="form-group mt-1 ml-3 mr-3">
                  <div *ngIf="notify" class="alert alert-success rounded-0 mt-3">
                    {{ notify }}
                  </div>
                  <div id="alert-box" *ngIf="errors.length > 0" class="alert alert-danger rounded-0 mt-3">
                    <p *ngFor = "let error of errors">
                        {{ error }}
                    </p>
                  </div>
                  <label for="email">Email</label>
                  <input type="email"
                         class="form-control rounded-0"
                         formControlName="email">
                </div>
                <div *ngIf="isValidInput('email')"
                  class="alert alert-danger rounded-0 ml-3 mr-3">
                  <div *ngIf="loginForm.controls['email'].errors.required">
                    Email is required.
                  </div>
                  <div *ngIf="loginForm.controls['email'].errors.pattern">
                    Must be a valid email format.
                  </div>
                </div>
      
                <div class="form-group mt-1 ml-3 mr-3">
                  <label for="password">Password</label>
                  <input type="password"
                         class="form-control rounded-0"
                         formControlName ="password">
                </div>
                <div *ngIf="isValidInput('password')"
                  class="alert alert-danger rounded-0 ml-3 mr-3">
                  <div *ngIf="loginForm.controls['password'].errors.required">
                    Password is required.
                  </div>
                </div>
                <button
                [disabled]="!loginForm.valid"
                type="submit" 
                class="btn btn-dark rounded-0 float-right mr-3"
                >Sign In</button>
              </form>
            
        </div>
          
        
      </div>
    </div>
</div>