<div class="parallax animate__animated animate__fadeIn">
    <div class="container">

        <div class="row">
            <div class="col mt-5">

            </div>

        </div>

        <div class="row justify-content-center">
            <div class="col-4">
                
            </div>

            <div class="col-4 ml-5 mt-4">
                <h4 class="mb-3">We'd love to answer any question you might have</h4>
                
                <div class="card border-dark rounded-0">
                    <div class="card-header text-light bg-dark rounded-0">
                        <h3 class="lead mt-3">Contact Us</h3>
                    </div>

                    <div class="content-section mb-3 mt-3">

                        <div class="form-group mt-1 ml-3 mr-3">
                            
                            <label for="username">Username</label>
                           <input type="text"
                                   class="form-control rounded-0"
                                   name="username"
                                   required>
                          </div>

                          <div class="form-group mt-1 ml-3 mr-3">
                                <label for="email">Email</label>
                                <input type="email"
                                   class="form-control rounded-0"
                                   name="email"
                                   required>
                          </div>

                          <div class="div form-group mt-1 ml-3 mr-3">
                            <label for="textarea">Message</label>
                            <textarea class="form-control rounded-0" rows="3"></textarea>

                          </div>
                          <button 
                                type="submit" 
                                class="btn btn-dark float-right mr-3 rounded-0"
                                >Submit</button>
                            </div>

                </div>
            </div>
        </div>
    </div>
  </div>