<div *ngIf="notify" class="alert alert-success container marge rounded-0">
    {{ notify }}
</div>
<!-- <header class="banner">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-right">
        <h1 class="font-weight-light">NEURALfit</h1>
        <p class="lead">Custom tailored outfits</p>
      </div>
    </div>
  </div>
</header> -->

<div class="parallax1 animate__animated animate__fadeIn">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-right">

        <h1 class="font-weight-light animate__animated animate__fadeInRight">NEURALfit</h1>
        <p class="lead animate__animated animate__fadeInLeft">Custom tailored outfits</p>
      </div>
    </div>
  </div>
  
</div>



<div class="container mt-5">
  
  <div class="row justify-content-center">
    <div class="col">
      <h3>Custom made clothing at a low price</h3>
    </div>

  </div>

</div>
  
    
  <div class="container mb-5 mt-5">
    <div class="row justify-content-center">
      <div data-aos="fade-right" class="col">
        <div class="card rounded-0" style="width: 32rem;">
          <img class="card-img-top" src="../../assets/textile.jpeg" alt="Card image cap">
          
          <div class="card-body">
            <div class="text-center mb-3">
              <h5 class="card-title">Upload an image</h5>
            </div>
            
            <hr class="ml-5 mr-5">
            
            <p class="card-text ml-5 mr-5">Upload a picture of yourself and easily get the measurements you need for a custom tailored suit</p>
            <div class="text-center mb-3">
              <a href="#" class="btn btn-outline-primary rounded-0">Learn More</a>
            </div>
          </div>

        </div>
        
      </div>
      <div data-aos="fade-left" class="col">
        <div class="card rounded-0" style="width: 32rem;">
          <img class="card-img-top" src="./../assets/tailor1.jpeg" alt="Card image cap">
          <div class="card-body">
            <div class="text-center mb-3">
              <h5 class="card-title">Choose your style</h5>
            </div>
            
            <hr class="ml-5 mr-5">
            
            <p class="card-text ml-5 mr-5">Pick your own fabric, patterns and quality to get exactly the outfit you want</p>
            <div class="text-center mb-3">
              <a href="#" class="btn btn-outline-primary rounded-0">Learn More</a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    
  </div>


  <div class="parallax3"></div>

  <div class="container mb-5">
    <div class="text-center mt-5">
      <h3>Get some ideas of customized suits and outfits that are available using the NEURALfit platform</h3>
      <p>Choose your own fabrics, patterns, colors, buttons etc. Suit up anyway you would like to</p>
      <hr class="mt-2">
    </div>
    <div class="row">
      <div data-aos="fade-down-right" class="col endcol1"></div>
      <div data-aos="fade-down-left" class="col endcol2" style="background-color: red;"></div>
      <div class="w-100"></div>
      <div data-aos="fade-up-right" class="col endcol3" style="background-color: yellow;"></div>
      <div data-aos="fade-up-left" class="col endcol4"></div>
    </div>
  </div>
    
  


