<div *ngIf="notify" class="alert alert-success container marge rounded-0">
    {{ notify }}
</div>

<header class="banner">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-right">
        <h1 class="font-weight-light">NEURALfit</h1>
        <p class="lead">Custom tailored outfits</p>
      </div>
    </div>
  </div>
</header>

<div class="parallax1"></div>


  <div class="container mb-5 mt-5">
    
    <div class="row justify-content-center">
      <div class="col">
        <h3>Custom made clothing at a low price</h3>
      </div>

    </div>

  </div>
  
    
  <div class="container mb-5">
    
    <div class="row justify-content-center">
      <div class="col">
        <div class="card rounded-0" style="width: 32rem;">
          <img class="card-img-top" src="../../assets/textile.jpeg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Upload a picture of yourself and easily get the measurements you need for a custom tailored suit</p>
            <a href="#" class="btn btn-outline-primary rounded-0">Learn More</a>
          </div>

        </div>
        
      </div>
      <div class="col">
        <div class="card rounded-0" style="width: 32rem;">
          <img class="card-img-top" src="./../assets/tailor1.jpeg" alt="Card image cap">
          <div class="card-body">
            
            <p class="card-text">Pick your own fabric, patterns and quality to get exactly the outfit you want</p>
            <a href="#" class="btn btn-outline-primary rounded-0">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    
  </div>


  <div class="parallax2"></div>

  <div style="height:500px;">
    <p>Insert awesome marketing shit here</p>
    
  </div>
    
  


