h1, p, h3, h5 {
    font-weight: 200;
}

.alert-box {
  
  filter: grayscale(0%);
  font-weight: 200;
  
}

.parallax1 {
  background-image: url('../../assets/tailor.jpg');
  filter: grayscale(90%);
  height: 100vh;
  
  min-height: 500px;
  opacity: 1;
  color: white;

/* Set a specific height */
  min-height: 100vh; 

/* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tonedown {
  filter: grayscale(99%);
}

.row {
    font-weight: 200;
}

a {
    font-weight: 200;
}

.parallax2 {
    background-image: url('../../assets/neural2.jpeg');
    filter: grayscale(90%);

  /* Set a specific height */
    min-height: 200px; 

  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tonedown {
  filter: grayscale(50%);
}


.parallax3 {
    background-image: url('../../assets/neural1.jpeg');
    filter: grayscale(90%);

  /* Set a specific height */
    min-height: 200px; 

  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.endcol1, .endcol2, .endcol3, .endcol4 {
  margin: 2rem;
  height: 15rem;
}

.endcol1 {
  background-image: url('../../assets/suit1.jpeg');
  background-size: cover;
}
.endcol2 {
  background-image: url('../../assets/fab1.jpeg');
  background-size: cover;
}
.endcol3 {
  background-image: url('../../assets/fab2.jpeg');
  background-size: cover;
}

.endcol4 {
  background-image: url('../../assets/suit4.jpeg');
  background-size: cover;
  filter: grayscale(50%)
}